<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363872363075-4utbk3sup55hsdkpg28jd6m0qqf9gjf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363872363075-4utbk3sup55hsdkpg28jd6m0qqf9gjf9</string>
	<key>API_KEY</key>
	<string>AIzaSyAtgs-_znwO0-LbVgaZHERAob-Exl_eWTk</string>
	<key>GCM_SENDER_ID</key>
	<string>363872363075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quickreach.mxp</string>
	<key>PROJECT_ID</key>
	<string>ruuvi-integration</string>
	<key>STORAGE_BUCKET</key>
	<string>ruuvi-integration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363872363075:ios:ee6b8a8d948604c29b2af6</string>
	<key>DATABASE_URL</key>
	<string>https://ruuvi-integration.firebaseio.com</string>
</dict>
</plist>